@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, black, corporate;
}

* {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
html,
body {
  overflow-x: hidden;
}
